body {
    background-color: #000;
    color: #fff;
    font-size: 16px;
}
section {
    border: 1px solid #fff;
    padding: 25px;
    margin: 50px 0;
}

header, footer {
    padding: 25px;
    font-size: 20px;
    text-align: center;
}


/* christians css */
body {
    font-family: Arial;
  }
  
  * {
    box-sizing: border-box;
  }
  
  form.topnav input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  form.topnav button {
    float: left;
    width: 20%;
    padding: 10px;
    background: white;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  form.topnav button:hover {
    background: gray;
  }
  
  form.topnav::after {
    content: "";
    clear: both;
    display: table;
  }
/* christians css */

/* Ian changes */
#apodImg{
    height: 800px;
    width: 100%;
}
/* Ian changes */



/* dee changes **/
.events-container {
    display: flex;
    gap: 15px;

}
.asteroid-data {
    /* flex: 1; */
    border-radius: 5px;
    width: 200px;
    height: 200px;
    border: 1px solid #15124a;
    margin: 25px 0;
    padding: 15px;
    /* background-image: linear-gradient(to right, #15124a , #230148);
    box-shadow: 5px 5px 15px #fff; */
}

.asteroid-data:hover {
    box-shadow: 5px 5px 10px #fff;
}

/** dee changes /
