body {
    color: #fff;
    /* font-family: ; */
    font-size: 16px;
    font-family: 'Orbitron';
    background-image: url("./stars_glare_black_204142_3840x2400.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;



}

#displayImg{

    /* position: relative; */
   
    margin-top: 150px;
    /* margin-left: 50px; */
    /* margin-right: 50px; */
    

}



section {
    /* border: 1px solid #fff; */
    padding: 25px;
    margin: 50px 0;
}

header,
footer {
    padding: 25px;
    font-size: 20px;
    text-align: center;
}

/* Ian changes */
#apodImg {
    border-radius: 20%;
    height: 100%;
    width: 100%;
}

/* Ian changes */



/* dee changes **/
.events-container {
    display: flex;
    gap: 15px;

}

.asteroid-data {
    /* flex: 1; */
    border-radius: 5px;
    width: 200px;
    height: 200px;
    border: 1px solid #15124a;
    margin: 25px 0;
    padding: 15px;
    /* background-image: linear-gradient(to right, #15124a , #230148);
    box-shadow: 5px 5px 15px #fff; */
}

.asteroid-data:hover {
    box-shadow: 5px 5px 10px #fff;
}

/** dee changes /