body {
    background-color: #000;
    color: #fff;
    font-size: 16px;
    flex-wrap: wrap;
}
section {
    border: 1px solid #fff;
    padding: 25px;
    margin: 50px 0;
}

header, footer {
    padding: 25px;
    font-size: 20px;
    text-align: center;
}


/* christians css */
  
  * {
    box-sizing: border-box;
  }
  
  form.topnav input[type=text] {
    font-size: 20px;
    border: 1px solid black;
    float: left;
    width: 80%;
    background: black;
  }
  
  form.topnav button {
    float: left;
    width: 20%;
    padding: 10px;
    background: white;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  form.topnav button:hover {
    background: gray;
  }
  
  form.topnav::after {
    content: "";
    clear: both;
    display: table;
  }
/* christians css */

/* Ian changes */
#apodImg{
    height: 800px;
    width: 100%;
}
#apod-date-picker{
    border: 1px solid #fff;
    color: #fff;
}
/* Ian changes */



/* dee changes **/
.events-container {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}
.asteroid-data {
    /* flex: 1; */
    border-radius: 5px;
    /* width: 200px; */
    height: auto;
    border: 1px solid #15124a;
    margin: 25px 0;
    padding: 15px;
    box-shadow: 2px 2px 5px #fff;
    /* background-image: linear-gradient(to right, #15124a , #230148);
    box-shadow: 5px 5px 15px #fff; */
}

.asteroid-data:hover {
    box-shadow: 5px 5px 10px #fff;
    transform: scaleY(1.02);

}

.title-filter-container {
    /* border: 1px solid #ccc; */
    padding: 10px 20px 0 20px;
}

.title {
    font-size: 20px;
}

#event-date-picker {
    border: 1px solid #fff;
    color: #fff;
}
/** dee changes /
