body {
    background-color: #000;
    color: #fff;
    font-size: 16px;
    flex-wrap: wrap;
}
section {
    /* border: 1px solid #fff; */
    padding: 25px;
    margin: 50px 0;
}

header, footer {
    padding: 25px;
    font-size: 20px;
    text-align: center;
}

nav .brand-logo {
position: relative;
}

/* christians css */
  
  * {
    box-sizing: border-box;
  }
  
  form.topnav input[type=text] {
    font-size: 20px;
    border: 1px solid black;
    float: left;
    width: 80%;
    background: black;
  }
  
  form.topnav button {
    float: left;
    width: 20%;
    padding: 10px;
    background: white;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  form.topnav button:hover {
    background: gray;
  }
  
  form.topnav::after {
    content: "";
    clear: both;
    display: table;
  }
/* christians css */

/* Ian changes */

/* fork changed here */

/* new value on line 123 onewards */

/* oldvalue */
/* #apodImg{
  height: 800px;
  width: 100%;
} */
#apod-date-picker{
    border: 1px solid #fff;
    color: #fff;
}
/* Ian changes */



/* dee changes **/
.events-container {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}
.asteroid-data {
    /* flex: 1; */
    border-radius: 5px;
    /* width: 200px; */
    height: auto;
    border: 1px solid #15124a;
    margin: 25px 0;
    padding: 15px;
    box-shadow: 2px 2px 5px #fff;
    /* background-image: linear-gradient(to right, #15124a , #230148);
    box-shadow: 5px 5px 15px #fff; */
}

.asteroid-data:hover {
    box-shadow: 5px 5px 10px #fff;
    transform: scaleY(1.02);

}

.title-filter-container {
    /* border: 1px solid #ccc; */
    padding: 10px 20px 0 20px;
}

.title {
    font-size: 20px;
}

#event-date-picker {
    border: 1px solid #fff;
    color: #fff;
}
/** dee changes /



/////////////////////fork////////////////////////////

/* adjusting nav bar */
.row .col.l3 {
  width: 400px;
}
#displayDisc{
  margin-bottom: 20px;
  line-height: 25px;
}
#apodImg{
    margin-top: 20px;
    height: 600px;
    width: auto;
}

nav .container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #222;
   
   width: 100%;
  padding: 10px 0;
}
.row .col.l9 {
  width: auto;
}
#displaydisc{
  width: 400px;
}
#pic-of-day .content{
  background-color: #222;
  display: flex;
  justify-content: space-between;
}


/* making site responsive */ 

/* @media screen and (max-width: 768px) { */
  @media screen and (max-width: 895px) {
  body {
    /* background-color: red; */
  }
  .content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #displayImg,#displayDisc{
    
    margin-left: 0px;
    width: 68%;

    
  }
  #apodImg{
  max-width: 100%; 
  max-height: 100%; 
  object-fit: contain; 
  object-position: center center;
  }
  #displayImg{

    display: flex;
    justify-content: center;
  }

}
/* amazing project guys loved it AGENTSJ*/